@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #0d1b2a;
    --foreground-primary: #ffbf00;
    --foreground-secondary: #ff9966;
    --text-color: #f5f5dc;
    --border: #e0e0e0;
    --btn-primary: #1b4242;
    --btn-secondary: #a0153e;
    --btn-text: #9290c3;
    --btn-text2: #9ec8b9;
  }
}

body {
  background-color: var(--background);
  color: var(--foreground-primary);
}

button {
  background-color: var(--btn-primary);
  color: var(--btn-text);
  cursor: pointer;
  font-weight: 700 !important;
}

button:hover {
  background-color: var(--btn-secondary);
  color: var(--btn-text2);
  transition: 0.6s;
}

@layer base {
}

.bg-custom {
  background-image: url("/path-to-image.jpg");
  background-color: lightgray;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.line {
  opacity: 0;
  transition: opacity 0.5s ease;
}

.line.visible {
  opacity: 1;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.product-item {
  animation: fadeIn 0.5s ease-in-out forwards;
  /* Đảm bảo sản phẩm xuất hiện chậm chậm và giữ lại ở trạng thái cuối cùng */
}

@keyframes fade-in {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-in {
  animation: fade-in 0.5s ease forwards;
}

.ant-select-selection-item {
  color: gold; /* Đặt màu chữ thành màu vàng */
  font-weight: 700 !important;
  font-size: 20px !important;
  justify-content: center !important;
  align-items: center !important;
  text-align: center !important;
}

.ant-select-selector {
  background-color: black !important;
  border: 1px solid black !important;
  color: white !important;
  fontweight: bold !important;
  padding: 30px 35px 30px 35px !important;
  justify-content: center !important;
  align-items: center !important;
  text-align: center !important;
}

.ant-select-selector:hover {
  opacity: 0.6 !important;
  transition: 0.6s !important;
}
/* styles/globals.css hoặc styles/your-custom-styles.css */

/* Tùy chỉnh màu nền và màu chữ của Select */
.ant-select-selector {
  background-color: black !important;
  border: 1px solid black !important;
  color: yellow !important;
  font-weight: 700 !important;
  font-size: 20px !important;
  justify-content: center !important;
  align-items: center !important;
  text-align: center !important;
}

/* Tùy chỉnh màu nền và màu chữ của Dropdown */
.ant-select-dropdown {
  background-color: black !important;
  font-weight: 700 !important;
  font-size: 20px !important;
  justify-content: center !important;
  align-items: center !important;
  text-align: center !important;
}

/* Tùy chỉnh màu nền và màu chữ của từng Option */
.ant-select-item-option {
  background-color: black !important;
  color: gold !important;
  font-weight: 700 !important;
  font-size: 16px !important;
  justify-content: center !important;
  align-items: center !important;
  text-align: center !important;
}

/* Tùy chỉnh màu nền và màu chữ của Option khi được chọn */
.ant-select-item-option-selected {
  background-color: black !important;
  color: yellow !important;
  font-weight: 700 !important;
  font-size: 14px !important;
  justify-content: center !important;
  align-items: center !important;
  text-align: center !important;
}
